.graphContainer {
    /* width: 80vw;
    height: 70vh; */
    background: white;
    padding: 30px 20px 30px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
}