/* start ArrayngementPage component */
.arrayngementpage{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr;
    background-color: #F9F6EF;
 
    height: 150vh;
    /* margin-right: 20px; */
}
.studentlist{ 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 2px;
    margin-left: -20px;
    margin-right: 10px;
}
.list{
    list-style: none;
}
.student{
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #EDEADD;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100; */
    /* font-family: priori-sans, sans-serif;
    font-style: normal;
    font-weight: 200; */
    font-size: 15px;
}
.inputbar{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    grid-template-rows: 75px;
    background-color: #D7E1DF;
}
.studentlabel{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
}
.blankSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #D7E1DF;
}
.blueSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #2667B1;
}
.greenSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #8FAD57;
}
.yellowSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #F4C14B;
}
.orangeSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #EF7E31;
}
.redSquare{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #DF4C36;
}
/* end ArrayngementPage component */

/* start ArrayngementDropMenu component */
.arrayngementdropmenu{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}
.mainDropMenuButtonArrayngement{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 0px;
    color: #343148;
    background-color: #EFEEE8;
    height: 30px;
    width: 100px;
    justify-self: center;
    align-self: end;
    display: flex;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.arrayngementDropMenu{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    justify-content: center;
    background-color: #f9f9f9;
}
.scores{
    width: 100px;
    height: 30px;
    background-color: #f9f9f9;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.scoresLabel{
    grid-column: 1/ 2;
    display: flex;
    align-self: flex-end;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 10px;
}
/* end ArrayngementDropMenu component */

/* start SubjectDropMenu component */
.arrayngementsubject{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 10px;
    height: 40px;
}
.subjectLabel{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-self: flex-end;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    margin-right: 15px;
    margin-bottom: 10px;
} 
.subjectDropMenuButton{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
    /* color: #343148; */
    color: #19182d;
    background-color: #EFEEE8;
    height: 30px;
    width: 100px;
}
.subjectDropMenu{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.subjectChangeButton{
    width: 100%;
    height: 30px;
    background-color: #f9f9f9;
    /* color: #465155; */
    color: #19182d;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* end SubjectDropMenu component */

/* start NumberOfGroupsDropMenu component */
.arrayngementgroups{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 75px 100px;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 10px;
    height: 40px;
}
.groupsLabel{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-self: flex-end;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    margin-right: 15px;
    /* margin-bottom: 10px; */
} 
.groupsDropMenuButton{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* color: #343148; */
    color: #19182d;
    background-color: #EFEEE8;
    height: 30px;
    width: 100px;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.groupsDropMenu{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    justify-content: center;
}
.groupsChangeButton{
    width: 100px;
    height: 30px;
    background-color: #f9f9f9;
    /* color: #465155; */
    color: #19182d;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
}


/* end NumberOfGroupsDropMenu component */